<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="admin/index/header.html"></head>
<body>
<div class="wrapper">
    <nav th:insert="admin/index/navbar::navbar(${view})"></nav>

    <div class="main">
        <nav th:insert="admin/index/account::account(${account})"></nav>

        <th:block th:switch="${view}">
            <main th:case="dashboad" th:insert="admin/dashboad/dashboad::dashboad"></main>
            <main th:case="catalog" th:insert="admin/category/category::category(${catalogs},${page},${size},${totalPage},${search})"></main>
            <main th:case="catalog_add" th:insert="admin/category/add::addForm(${item})"></main>
            <main th:case="catalog_edit" th:insert="admin/category/edit::editForm(${catalog})"></main>
            <main th:case="product" th:insert="admin/product/product::product(${products},${page},${size},${totalPage},${search},${catalogs})"></main>
            <main th:case="product_add" th:insert="admin/product/add::addProductForm(${productAdd},${catalogs})"></main>
            <main th:case="product_edit" th:insert="admin/product/edit::editProductForm(${productEdit},${catalogs})"></main>
            <main th:case="user" th:insert="admin/user/user::user(${users},${page},${size},${totalPage},${search})"></main>
            <main th:case="order" th:insert="admin/order/order::order(${orders},${page},${size},${totalPage},${status},${statusList})"></main>
            <main th:case="*" th:text="ERROR"></main>
        </th:block>

        <footer class="footer">
            <div class="container-fluid">
                <div class="row text-muted">
                    <div class="col-6 text-start">
                        <p class="mb-0">
                            <a class="text-muted" href="" target="_blank"><strong>DemoAdminKit</strong></a>
                            - <a class="text-muted" href="" target="_blank"><strong>Bootstrap Admin
                            Template</strong></a> &copy;
                        </p>
                    </div>
                    <div class="col-6 text-end">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="text-muted" href="#" target="_blank">Support</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="text-muted" href="#" target="_blank">Help Center</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="text-muted" href="#" target="_blank">Privacy</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="text-muted" href="#" target="_blank">Terms</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<th:block th:insert="admin/index/account::js"></th:block>

</body>
</html>